<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Alpa | URL Shortner
		</title>
		<meta charset="utf-8" />
		<meta name="description" content="Alpa is a platform that offers url shortner and other related utility tools">
		<meta name="author" content="Deepak Terse">
		<meta name="keywords" content="Alpa, URL, short, tiny">

		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
		<link rel="manifest" href="./favicon_io/site.webmanifest">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Material+Symbols+Outlined">

		<style>
			body {
                font-family: 'Roboto', sans-serif;
				font-size: calc(10px + 0.33vw);
				-webkit-font-smoothing: antialiased;
				color: #CCCCCC;
				padding: 15em 0;
				min-height: 100vh;
				overflow:hidden;
                background-color: #1E1E1E;
			}
			main, footer {
				display:flex;
				flex-direction: column;
				align-items: center;
			}
			footer {
				position: absolute;
				width:calc(100%-16px);
            	bottom: 0;
				padding: 1em;
				width: calc(100vw - 16px);
    			box-sizing: border-box;
			}
			#logo-container span {          
				font-size: 6em;
			}
			#logo-container img {
				height: 5em;
				width: 5em;
			}
			#logo-container #al {
				color:#4984E2;
			}
			#logo-container #pa {
				color:#A4C8FF;
			}
            #tag-line {
                font-size: 1.2em;
            }
            #stats-container{
                padding:5em 15em;
                font-size: 1.2em;
                font-weight: 300;
            }
            #stats-container b {
                font-size: 1.2em;
                color:#4984E2
            }
			form {
				margin: 0 auto;
				padding: 25px;
				border-radius: 10px;
				/* display: flex;
				flex-direction: column;
				align-items: center; */
			}
			input[type="text"] {
				margin:25px 0;
				width: 50vw;
				border: 1px solid #ccc;
				color:#808080;
				border-radius: 1em 0 0 1em;
				font-size: 1.25em;
				padding: 0.5em 1.5em;
			}
			input[type="button"] {
				width: 100px;
				padding: 10px;
				background-color: #4984E2;
				color: #fff;
				border: none;
				font-size: 1.25em;
				border-radius: 0 1em 1em 0;
				cursor: pointer;
			}
			#result-container {
				padding: 0.5em 1.5em;
				width: 20vw;
				background-color: #F6F8FA;
				color:grey;
				border-radius: 1em;
				border: 1px solid #ccc;
				display: flex;
    			align-items: center;
				justify-content: space-between;
			}
			#copy-button {
				cursor: pointer;
				color:grey;
			}
			#copy-button:active {
				color: #007bff; /* Change color on click */
			}
			#error-container {
				padding:1em;
				font-size: 1.5em;
				color:#DC143C
			}
		</style>
	</head>

	<body>
		<main>
			<div id="logo-container">
				<img src = "./assets/alpa-logo.png" alt="Alpa logo">
				<span id="al">Al</span><span id="pa">pa</span>
			</div>
			<span id="tag-line">Shrink your links, expand your possibilities!</span>
			<form id="shorten-form">
				<input type="text" name="url" placeholder="🔗 Enter your long URL">
				<input type="button" value="Shorten" onclick="submitForm()">
			</form>
			<div id="result-container">
				<span id="short-url">Your shorten url will appear here</span>
				<span id = "copy-button" class="material-symbols-outlined">
					content_copy
				</span>
			</div>
			<div id="error-container">
			</div>
            <div id="stats-container">
                <center>Over <b id="count">100</b> links shortened and counting! Join the countless users who've embraced the ease and versatility of our URL shortening service. Whether it's one link or a hundred, we've got you covered. Experience the difference with <b>Alpa</b>.</center>
            </div>

		</main>
		<footer>
			<span>Copyright @ 2024</span>
			<span>Made with ❤️ by Deepak Terse</span>
		</footer>
	</body>
	<script>
        window.onload = function() {
            fetch('/config', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				},
			})
			.then(response => response.json())
			.then(data => {
                document.getElementById('count').textContent = data.count
			})
			.catch(error => {
                document.getElementById('count').textContent = 100
			});
        };

		const submitForm = () => {
			const formData = new FormData(document.getElementById('shorten-form'));

			fetch('/shorten', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(formData)
			})
			.then(response => response.json())
			.then(data => {
				document.getElementById('short-url').textContent = data.shortUrl
                copyToClipboard(data.shortUrl)
			})
			.catch(error => {
				document.getElementById('error-container').textContent = "Error generating short url"
			});
		}

		const copyToClipboard = (textToCopy) => {
			console.log(textToCopy)
			if (!navigator.clipboard) {
				// Fallback: use temporary textarea method
				const tempInput = document.createElement("textarea");
				tempInput.value = textToCopy;
				document.body.appendChild(tempInput);
				tempInput.select();
				tempInput.setSelectionRange(0, 99999); /*For mobile devices*/
				document.execCommand("copy");
				document.body.removeChild(tempInput);
			} else {
				// Use Clipboard API
				navigator.clipboard.writeText(textToCopy)
				.then(() => {
					alert("Text copied to clipboard: " + textToCopy);
				})
				.catch(err => {
					console.error('Error copying to clipboard');
				});
			}
		}
	</script>
</html>